{:paths ["src"]
 :aliases
 {:dev
  {:extra-deps  {org.clojure/clojure {:mvn/version "1.10.0-RC2"}
                 org.clojure/clojurescript {:mvn/version "1.10.439"}
                 proto-repl {:mvn/version "0.3.1"}}}
  :test
  {:extra-paths ["test"]}}}
